input[type="radio"] {
    width: 17px;
    height: 17px;
}
.screen .overlap-group-wrapper {
    height: 330px;
    overflow: scroll;
}
.screen .overlap{
    left:-140px;
}
.view-2,.view-3,.view-4 {
    cursor: pointer;
}

.screen.bookmark-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width:100vw;
    height:100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* 작은 화면 대응 */
}

.screen .view {
    background: transparent;
    border: 0px;
}