/* 전체 페이지 레이아웃 */
.admin-page-wrapper {
  display: flex;
}

/* 사이드바 오른쪽의 실제 콘텐츠 영역 */
.admin-content {
  flex-grow: 1;
  background-color: #f9fafb;
  min-height: 100vh;
  padding: 24px;
}
