.follow-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* 작은 화면 대응 */
}

.follow-modal {
  background-color: white;
  width: 503px;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden; /* 가로 스크롤 제거 */
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
}

.follow-modal::-webkit-scrollbar {
  display: none;                /* Chrome에서 스크롤 안 보이게 하기 */
}

.follow-list {
  display: flex;
  flex-direction: column;
}
